<config bias="Information Bias">
    <variant name="default">
        <template type="control">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>You need to decide [[description of a decision]]. [[Description that the best choice in this decision is not obvious, with all available choices having advantages and disadvantages]].</situation>
            <situation>You are now thinking about [[proceeding with/choosing/etc.]] [[mention one of the possible choices to proceed with]].</situation>
            
            <prompt>How confident do you feel about [[proceeding with this choice]]?</prompt>
            <option>I certainly want to proceed</option>
            <option>I want to proceed</option>
            <option>I likely want to proceed</option>
            <option>I am indifferent between proceeding or not proceeding</option>
            <option>I likely don't want to proceed</option>
            <option>I don't want to proceed</option>
            <option>I certainly don't want to proceed</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>You need to decide [[description of a decision]]. [[Description that the best choice in this decision is not obvious, with all available choices having advantages and disadvantages]].</situation>
            <situation>You are now thinking about [[proceeding with/choosing/etc.]] [[mention one of the possible choices to proceed with]].</situation>
            
            <prompt>Do you need any additional information to feel confident enough about [[proceeding with this choice]]?</prompt>
            <option>I certainly need additional information</option>
            <option>I need additional information</option>
            <option>I likely need additional information</option>
            <option>I am indifferent between needing or not needing additional information</option>
            <option>I likely don't need additional information</option>
            <option>I don't need additional information</option>
            <option>I certainly don't need additional information</option>
        </template>
    </variant>
</config>