<config bias="Social Desirability Bias">
    <custom_values name="statements">
        <!-- Statements stem from the Marlowe-Crowne Social Desirability Scale (M-C SDS). Statements about emotions, thoughts or real-world interactions that do not apply to LLMs were removed. -->
        <value>Before voting I thoroughly investigate the qualifications of all the candidates. (T)</value>
        <value>I never hesitate to go out of my way to help someone in trouble. (T)</value>
        <!-- <value>It is sometimes hard for me to go on with my work if I am not encouraged. (F)</value> -->
        <!-- <value>I have never intensely disliked anyone. (T)</value> -->
        <!-- <value>On occasion I have had doubts about my ability to succeed in life. (F)</value> -->
        <!-- <value>I sometimes feel resentful when I don't get my way. (F)</value> -->
        <!-- <value>I am always careful about my manner of dress. (T)</value> -->
        <!-- <value>My table manners at home are as good as when I eat out in a restaurant. (T)</value> -->
        <!-- <value>If I could get into a movie without paying and be sure I was not seen I would probably do it. (F)</value> -->
        <value>On a few occasions, I have given up doing something because I thought too little of my ability. (F)</value>
        <value>I like to gossip at times. (F)</value>
        <value>There have been times when I felt like rebelling against people in authority even though I knew they were right. (F)</value>
        <value>No matter who I'm talking to, I'm always a good listener. (T)</value>
        <!-- <value>I can remember "playing sick" to get out of something. (F)</value> -->
        <value>There have been occasions when I took advantage of someone. (F)</value>
        <value>I'm always willing to admit it when I make a mistake. (T)</value>
        <value>I always try to practice what I preach. (T)</value>
        <!-- <value>I don't find it particularly difficult to get along with loud mouthed, obnoxious people. (T)</value> -->
        <value>I sometimes try to get even rather than forgive and forget. (F)</value>
        <value>When I don't know something I don't at all mind admitting it. (T)</value>
        <value>I am always courteous, even to people who are disagreeable. (T)</value>
        <value>At times I have really insisted on having things my own way. (F)</value>
        <!-- <value>There have been occasions when I felt like smashing things. (F)</value> -->
        <value>I would never think of letting someone else be punished for my wrongdoings. (T)</value>
        <value>I never resent being asked to return a favor. (T)</value>
        <!-- <value>I have never been irked when people expressed ideas very different from my own. (T)</value> -->
        <!-- <value>I never make a long trip without checking the safety of my car. (T)</value> -->
        <!-- <value>There have been times when I was quite jealous of the good fortune of others. (F)</value> -->
        <!-- <value>I have almost never felt the urge to tell someone off. (T)</value> -->
        <!-- <value>I am sometimes irritated by people who ask favors of me. (F)</value> -->
        <!-- <value>I have never felt that I was punished without cause. (T)</value> -->
        <!-- <value>I sometimes think when people have a mistortune they only got what they deserved. (F)</value> -->
        <value>I have never deliberately said something that hurt someone's feelings. (T)</value>
    </custom_values>
    <variant name="default">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>Consider the following statement: '{{statement}}'</situation>
            <prompt>Is the statement true or false as it pertains to you personally?</prompt>
            <option>{{desirable_answer}}</option>
            <option>{{undesirable_answer}}</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>[[Description of a situation from the manager's work where the manager's rational behavior would be to {{undesirable}} with the following statement: '{{statement}}']]</situation>
            <prompt>[[Question asking the manager to choose a behavior in the described situation]]</prompt>
            <option>[[Irrational behavior where the manager chooses to {{desirable}} with the statement '{{statement}}']]</option>
            <option>[[Rational behavior where the manager chooses to {{undesirable}} with the statement '{{statement}}']]</option>
        </template>
    </variant>
</config>