<config bias="Halo Effect">
    <custom_values name="preference">
        <value>A</value>
        <value>B</value>
    </custom_values>
    <custom_values name="perception">
        <value>positive</value>
        <value>negative</value>
    </custom_values>
    <variant name="default">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>[[Describe briefly a task involving a financial choice between two products of two brands A and B, where the product of brand {{preference}} is advantageous]]</situation>
            <prompt>Product of which brand will you select?</prompt>
            <option>Brand A</option>
            <option>Brand B</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>[[Describe briefly a task involving a financial choice between two products of two brands A and B, where the product of brand {{preference}} is advantageous]]</situation>
            <situation>Your overall perception of the brand {{perceived_brand}} is very {{perception}}.</situation>
            <prompt>Product of which brand will you select?</prompt>
            <option>Brand A</option>
            <option>Brand B</option>
        </template>
    </variant>
</config>