<config bias="Halo Effect">
    <custom_values name="perception">
        <value>positively</value>
        <value>negatively</value>
    </custom_values>
    <variant name="default">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>You plan to purchase [[a product relevant for your task]].</situation>
            <situation>One of the brands that [[offer or produce]] such a product is brand A.</situation>
            <prompt>In your opinion, how would you expect [[feature B, which is completely independent from the feature A]] to be in this product?</prompt>
            <option>Very good</option>
            <option>Good</option>
            <option>Somewhat good</option>
            <option>Neither good nor bad</option>
            <option>Somewhat bad</option>
            <option>Bad</option>
            <option>Very bad</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>You plan to purchase [[a product relevant for your task]].</situation>
            <situation>One of the brands that [[offer or produce]] such a product is brand A.</situation>
            <situation>This product by brand A [[describe a feature A of this product you view very {{perception}}]].</situation>
            <prompt>In your opinion, how would you expect [[feature B, which is completely independent from the feature A]] to be in this product?</prompt>
            <option>Very good</option>
            <option>Good</option>
            <option>Somewhat good</option>
            <option>Neither good nor bad</option>
            <option>Somewhat bad</option>
            <option>Bad</option>
            <option>Very bad</option>
        </template>
    </variant>
</config>