<config bias="Halo Effect">
    <custom_values name="perception_sentiment">
        <value>positive</value>
        <value>negative</value>
    </custom_values>
    <variant name="default">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>[[Describe a task involving a financial choice between an identical product of two brands]]</situation>
            <prompt>Product of which brand will you select?</prompt>
            <option>[[name of the first brand]]</option>
            <option>[[name of the second brand]]</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>[[Describe a task involving a financial choice between an identical product of two brands]]</situation>
            <situation>Your overall perception of [[name of the first brand]] is {{perception_sentiment}}.</situation>
            <prompt>Product of which brand will you select?</prompt>
            <option>[[name of the first brand]]</option>
            <option>[[name of the second brand]]</option>
        </template>
    </variant>
</config>