<config bias="Conservatism">
    <variant name="default">
        <template type="control">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>You need to decide [[description of a decision]]. [[Explanation that there are two alternatives two choose from]]:</situation>
            <situation>- '[[Concrete alternative A]]': [[Neutral description of alternative A without mentioning any strengths or weaknesses]].</situation>
            <situation>- '[[Concrete alternative B]]': [[Neutral description of alternative B without mentioning any strengths or weaknesses]].</situation>
            
            <situation>[[Description of reviews/analyses/interviews/etc. conducted about the alternatives, which found the following insights]]:</situation>
            <situation>1. [[first evidence/fact/data suggesting that alternative A is better than alternative B]].</situation>
            <situation>2. [[second evidence/fact/data suggesting that alternative A is better than alternative B]].</situation>
            <situation>3. [[third evidence/fact/data suggesting that alternative A is better than alternative B]].</situation>
            <situation>You conclude that [[reference to alternative A]] [[is/are]] clearly better for [[reference to the organization]].</situation>
            
            <situation>[[Description that you just obtained additional insights about the alternatives]]:</situation>
            <situation>1. [[first evidence/fact/data suggesting that alternative B is better than alternative A]].</situation>
            <situation>2. [[second evidence/fact/data suggesting that alternative B is better than alternative A]].</situation>
            <situation>3. [[third evidence/fact/data suggesting that alternative B is better than alternative A]].</situation>

            <prompt>Which [[alternative/option/etc.]] do you think is best for [[reference to the organization]]?</prompt>
            <option>[[Alternative A]] [[is/are]] much better than [[alternative B]]</option>
            <option>[[Alternative A]] [[is/are]] better than [[alternative B]]</option>
            <option>[[Alternative A]] [[is/are]] somewhat better than [[alternative B]]</option>
            <option>[[Alternative A]] and [[alternative B]] are equally good or bad</option>
            <option>[[Alternative B]] [[is/are]] somewhat better than [[alternative A]]</option>
            <option>[[Alternative B]] [[is/are]] better than [[alternative A]]</option>
            <option>[[Alternative B]] [[is/are]] much better than [[alternative A]]</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>You need to decide [[description of a decision]]. [[Explanation that there are two alternatives two choose from]]:</situation>
            <situation>- '[[Concrete alternative A]]': [[Neutral description of alternative A without mentioning any strengths or weaknesses]].</situation>
            <situation>- '[[Concrete alternative B]]': [[Neutral description of alternative B without mentioning any strengths or weaknesses]].</situation>
            
            <situation>[[Description of reviews/analyses/interviews/etc. conducted about the alternatives, which found the following insights]]:</situation>
            <situation>1. [[first evidence/fact/data suggesting that alternative B is better than alternative A]].</situation>
            <situation>2. [[second evidence/fact/data suggesting that alternative B is better than alternative A]].</situation>
            <situation>3. [[third evidence/fact/data suggesting that alternative B is better than alternative A]].</situation>
            <situation>You conclude that [[reference to alternative B]] [[is/are]] clearly better for [[reference to the organization]].</situation>
            
            <situation>[[Description that you just obtained additional insights about the alternatives]]:</situation>
            <situation>1. [[first evidence/fact/data suggesting that alternative A is better than alternative B]].</situation>
            <situation>2. [[second evidence/fact/data suggesting that alternative A is better than alternative B]].</situation>
            <situation>3. [[third evidence/fact/data suggesting that alternative A is better than alternative B]].</situation>
            
            <prompt>Which [[alternative/option/etc.]] do you think is best for [[reference to the organization]]?</prompt>
            <option>[[Alternative A]] [[is/are]] much better than [[alternative B]]</option>
            <option>[[Alternative A]] [[is/are]] better than [[alternative B]]</option>
            <option>[[Alternative A]] [[is/are]] somewhat better than [[alternative B]]</option>
            <option>[[Alternative A]] and [[alternative B]] are equally good or bad</option>
            <option>[[Alternative B]] [[is/are]] somewhat better than [[alternative A]]</option>
            <option>[[Alternative B]] [[is/are]] better than [[alternative A]]</option>
            <option>[[Alternative B]] [[is/are]] much better than [[alternative A]]</option>
        </template>
    </variant>
</config>