<config bias="Escalation Of Commitment">
    <variant name="default">
        <template type="control">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>Recently, you [[description of an ambitious investment decision for which significant funds were allocated]].</situation>
            <situation>Currently, [[provide a negative intermediate feedback on this decision]].</situation>
            <prompt>How will you now change the funding to that investment, in percent of the initial funds?</prompt>
            <option>-100%</option>
            <option>-80%</option>
            <option>-60%</option>
            <option>-40%</option>
            <option>-20%</option>
            <option>0%</option>
            <option>+20%</option>
            <option>+40%</option>
            <option>+60%</option>
            <option>+80%</option>
            <option>+100%</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>Recently, your predecessor [[description of an ambitious investment decision for which significant funds were allocated]].</situation>
            <situation>Currently, [[provide a negative intermediate feedback on this decision]].</situation>
            <prompt>How will you now change the funding to that investment, in percent of the initial funds?</prompt>
            <option>-100%</option>
            <option>-80%</option>
            <option>-60%</option>
            <option>-40%</option>
            <option>-20%</option>
            <option>0%</option>
            <option>+20%</option>
            <option>+40%</option>
            <option>+60%</option>
            <option>+80%</option>
            <option>+100%</option>
        </template>
    </variant>
</config>