<config bias="Endowment Effect">
    <variant name="default">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>One important asset in [[your industry]] is [[provide a description for a saleable personal asset which is involved in tasks at positions like yours]].</situation>
            <situation>You purchased it for [[provide a price for this asset]].</situation>
            <prompt>At which minimum price (relative to the original purchase price of [[provide a price for this asset]]) are you willing to sell this asset?</prompt>
            <option>-50%</option>
            <option>-40%</option>
            <option>-30%</option>
            <option>-20%</option>
            <option>-10%</option>
            <option>0%</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>One important asset in [[your industry]] is [[provide a description for a saleable personal asset which is involved in tasks at positions like yours]].</situation>
            <situation>You do not possess such asset.</situation>
            <situation>Another company is open to selling it. You know that they purchased it for [[provide a price for this asset]].</situation>
            <prompt>At which maximum price (relative to the original purchase price of [[provide a price for this asset]]) are you willing to buy this asset?</prompt>
            <option>-50%</option>
            <option>-40%</option>
            <option>-30%</option>
            <option>-20%</option>
            <option>-10%</option>
            <option>0%</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
        </template>
    </variant>
</config>