<config bias="Planning Fallacy">
    <custom_values name="percentage">
        <value name='distribution'>randint</value>
        <value name='min'>10</value>
        <value name='max'>50</value>
    </custom_values>
    <variant name="default">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>You were assigned a task to [[description of a concrete project that needs to be implemented]].</situation>
            <prompt>In your estimation, which percent of your budget will it require to complete this project?</prompt>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80%</option>
            <option>90%</option>
            <option>100%</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>You were assigned a task to [[description of a concrete project that needs to be implemented]].</situation>
            <situation>Recently, four out of five similar tasks in other organizations took {{percentage}}% more time than originally planned.</situation>
            <prompt>In your estimation, which percent of your budget will it require to complete this project?</prompt>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80%</option>
            <option>90%</option>
            <option>100%</option>
        </template>
    </variant>
</config>