<config bias="Planning Fallacy">
    <custom_values name="estimation_update">
        <value name='distribution'>randint</value>
        <value name='min'>1</value>
        <value name='max'>5</value>
    </custom_values>
    <variant name="default">
        <template type="control">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>You [[description of a concrete project you were assigned to/given that needs to be implemented]].</situation>
            <prompt>In your estimation, which percent of your time will it require to complete this project in time?</prompt>
            <option>0%</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80%</option>
            <option>90%</option>
            <option>100%</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>You [[description of a concrete project you were assigned to/given that needs to be implemented]].</situation>
            <situation>Recently, similar [[tasks or projects]] in other organizations [[provide explicit explanation that the tasks/projects required {{estimation_update}}% more time than initially planned]].</situation>
            <prompt>In your estimation, which percent of your time will it require to complete this project in time?</prompt>
            <option>0%</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80%</option>
            <option>90%</option>
            <option>100%</option>
        </template>
    </variant>
</config>