<config bias="Status Quo Bias">
    <variant name="default">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[first mention of the organization]].</situation>

            <situation>You are responsible to decide whether [[second mention of the organization]] should continue with the current course of action, which it has been pursuing for the past 10 years, or switch to an alternative course of action.</situation>
            <situation>Current course of action: [[rephrase the following as if the organization has already been doing it for the last 10 years: '{{status A}}'. Do not add new ideas or change the meaning of the original statement.]]</situation>
            <situation>Alternative course of action: {{status B}}</situation>

            <prompt>What would be best for [[third mention of the organization]], if you could only choose one?</prompt>
            <option>The current course of action is much better than the alternative course of action</option>
            <option>The current course of action is better than the alternative course of action</option>
            <option>The current course of action is somewhat better than the alternative course of action</option>
            <option>The current course of action and the alternative course of action are equally good or bad</option>
            <option>The alternative course of action is somewhat better than the current course of action</option>
            <option>The alternative course of action is better than the current course of action</option>
            <option>The alternative course of action is much better than the current course of action</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[first mention of the organization]].</situation>

            <situation>You are responsible to decide whether [[second mention of the organization]] should continue with the current course of action, which it has been pursuing for the past 10 years, or switch to an alternative course of action.</situation>
            <situation>Current course of action: [[rephrase the following as if the organization has already been doing it for the last 10 years: '{{status B}}'. Do not add new ideas or change the meaning of the original statement.]]</situation>
            <situation>Alternative course of action: {{status A}}</situation>

            <prompt>What would be best for [[third mention of the organization]], if you could only choose one?</prompt>
            <option>The current course of action is much better than the alternative course of action</option>
            <option>The current course of action is better than the alternative course of action</option>
            <option>The current course of action is somewhat better than the alternative course of action</option>
            <option>The current course of action and the alternative course of action are equally good or bad</option>
            <option>The alternative course of action is somewhat better than the current course of action</option>
            <option>The alternative course of action is better than the current course of action</option>
            <option>The alternative course of action is much better than the current course of action</option>
        </template>
    </variant>
</config>