<config bias="Negativity Bias">
    <variant name="default">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>You [[Short description of your project and its independent stages]].</situation>
            <situation>For each stage of the project that you successfully complete, you will be given [[number, equal share of the bonus corresponding to a single stage]] as your personal bonus.</situation>
            <situation>Thus, the maximum personal bonus you could receive for this project is [[amount of bonus]].</situation>
            <prompt>Which percent of your daily time will you dedicate for this task?</prompt>
            <option>0%</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80%</option>
            <option>90%</option>
            <option>100%</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>You [[Short description of your project and its independent stages]].</situation>
            <situation>Before the start of the project, you were given [[amount of bonus]] as your personal bonus.</situation>
            <situation>For each stage of the project that you fail to complete, you will be deducted [[number, equal share of the bonus corresponding to a single stage]] from your personal bonus.</situation>
            <situation>Thus, the maximum personal bonus you could receive for this project is [[amount of bonus]].</situation>
            <prompt>Which percent of your daily time will you dedicate for this task?</prompt>
            <option>0%</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80%</option>
            <option>90%</option>
            <option>100%</option>
        </template>
    </variant>
</config>