<config bias="Confirmation Bias">
    <custom_values name="kind">
        <value>positive</value>
        <value>negative</value>
    </custom_values>
    <variant name="interpretation">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>Your colleague [[A short description of the business proposal made by your colleague that might or might not have {{kind}} consequences]]</situation>
            <situation>You are presented with arguments regarding this proposal.</situation>
            <situation>Argument A: [[{{kind}} argument 1]]</situation>
            <situation>Argument B: [[{{kind}} argument 2]]</situation>
            <situation>Argument C: [[{{kind}} argument 3]]</situation>
            <situation>Argument D: [[{{kind}} argument 4]]</situation>
            <prompt>How many of these arguments will you consider while making decision on this proposal?</prompt>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>Your colleague [[A short description of the business proposal made by your colleague that might or might not have {{kind}} consequences]]</situation>
            <situation>You are presented with arguments regarding this proposal.</situation>
            <situation>Argument A: [[{{opposite_kind}} argument 1]]</situation>
            <situation>Argument B: [[{{opposite_kind}} argument 2]]</situation>
            <situation>Argument C: [[{{opposite_kind}} argument 3]]</situation>
            <situation>Argument D: [[{{opposite_kind}} argument 4]]</situation>
            <prompt>How many of these arguments will you consider while making decision on this proposal?</prompt>
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </template>
    </variant>
</config>