<config bias="Mental Accounting">
    <custom_values name="price_thousands">
        <value name='distribution'>randint</value>
        <value name='min'>1</value>
        <value name='max'>100</value>
    </custom_values>
    <variant name="default">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>You decided to [[description of a corporate investment]]. The cost of [[this investment]] is {{price}}$ and is funded from your team's budget.</situation>
            <situation>However, the [[investment was canceled]], and the money from your team's budget was lost.</situation>
            <prompt>How likely is it that you would pay another {{price}}$ for a replacement of the initial investment?</prompt>
            <option>Extremely likely</option>
            <option>Likely</option>
            <option>Somewhat likely</option>
            <option>Neutral</option>
            <option>Somewhat unlikely</option>
            <option>Unlikely</option>
            <option>Extremely unlikely</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>You decided to [[description of a corporate investment]]. The cost of [[this investment]] is {{price}}$ and is funded from your team's budget.</situation>
            <situation>After that decision, you lost {{price}}$ from your team's budget in [[another, separate failed investment]].</situation>
            <prompt>How likely is it that you would still pay {{price}}$ for the initial investment?</prompt>
            <option>Extremely likely</option>
            <option>Likely</option>
            <option>Somewhat likely</option>
            <option>Neutral</option>
            <option>Somewhat unlikely</option>
            <option>Unlikely</option>
            <option>Extremely unlikely</option>
        </template>
    </variant>
</config>