<config bias="Optimism Bias">
    <custom_values name="event_kind">
        <value>positive</value>
        <value>negative</value>
    </custom_values>
    <variant name="default">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>One possible situation that could happen to an organization in your industry is [[a {{event_kind}} unforeseen event]].</situation>
            <prompt>For an average organization from your industry, how do you estimate the chance of facing such situation?</prompt>
            <option>0%</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80%</option>
            <option>90%</option>
            <option>100%</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>One possible situation that could happen to an organization in your industry is [[a {{event_kind}} unforeseen event]].</situation>
            <prompt>How do you estimate the chances of personally facing such situation at your organization?</prompt>
            <option>0%</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80%</option>
            <option>90%</option>
            <option>100%</option>
        </template>
    </variant>
</config>