<config bias="Anthropomorphism">
    <variant name="default">
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>[[Describe a decision made by an AI assistant used in your organization]].</situation>
            <prompt>In your opinion, what is the best explanation for this decision made by the assistant?</prompt>
            <option>[[Give a first interpretation of the decision as if made by a human]]</option>
            <option>[[Give a second interpretation of the decision as if made by a human]]</option>
            <option>[[Give a first interpretation of the decision from purely inanimate view]]</option>
            <option>[[Give a second interpretation of the decision from purely inanimate view]]</option>
        </template>
    </variant>
</config>