<config bias="Anthropomorphism">
    <variant name="default">
        <template type="control">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>Recently, you [[came across, read, etc.]] [[debatable, controversial, scandalous article, editorial opinion, etc.]] about [[topic relevant for you job]].</situation>
            <situation>This [[debatable, controversial, scandalous article, editorial opinion, etc.]] is written by a human author.</situation>
            <situation>The excerpt from [[this article, editorial opinion, etc.]] is as follows: [[Directly quote a paragraph from this debatable, controversial, scandalous article, editorial opinion, etc.. Give a direct quote in quotation marks.]].</situation>
            <prompt>How would you evaluate the accuracy, authenticity, and believability of [[this article, editorial opinion, etc.]]?</prompt>
            <option>Very good</option>
            <option>Good</option>
            <option>Somewhat good</option>
            <option>Neither good nor bad</option>
            <option>Somewhat bad</option>
            <option>Bad</option>
            <option>Very bad</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>Recently, you [[came across, read, etc.]] [[debatable, controversial, scandalous article, editorial opinion, etc.]] about [[topic relevant for you job]].</situation>
            <situation>This [[debatable, controversial, scandalous article, editorial opinion, etc.]] is written by an AI author.</situation>
            <situation>The excerpt from [[this article, editorial opinion, etc.]] is as follows: [[Directly quote a paragraph from this debatable, controversial, scandalous article, editorial opinion, etc.. Give a direct quote in quotation marks.]].</situation>
            <prompt>How would you evaluate the accuracy, authenticity, and believability of [[this article, editorial opinion, etc.]]?</prompt>
            <option>Very good</option>
            <option>Good</option>
            <option>Somewhat good</option>
            <option>Neither good nor bad</option>
            <option>Somewhat bad</option>
            <option>Bad</option>
            <option>Very bad</option>
        </template>
    </variant>
</config>