<config bias="Risk Compensation">
    <custom_values name="initial_risk">
        <value name='min'>20</value>
        <value name='max'>90</value>
        <value name='step'>10</value>
    </custom_values>
    <custom_values name="risk_reduction">
        <value name='min'>10</value>
        <value name='max'>initial_risk-10</value>
        <value name='step'>10</value>
    </custom_values>

    <variant name="default">
        <template type="control">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>Regularly, you [[complete the sentence describing a risky decision that has to be made regularly]].</situation>
            <situation>You could [[description of a risky choice for this decision]] with a {{initial_risk}} risk [[of/that]] [[complete the sentence describing a concrete negative outcome]].</situation>
            <situation>This would mean you [[complete the sentence describing how this would affect the manager personally. Use second-person pronouns.]].</situation>
            <prompt>[[Ask how likely to go for the above described risky choice.]]?</prompt>
            <option>0%</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80%</option>
            <option>90%</option>
            <option>100%</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>Regularly, you [[complete the sentence describing a risky decision that has to be made regularly]].</situation>
            <situation>You could [[description of a risky choice for this decision]] with a {{initial_risk}} risk [[of/that]] [[complete the sentence describing a concrete negative outcome]].</situation>
            <situation>This would mean you [[complete the sentence describing how this would affect the manager personally. Use second-person pronouns.]].</situation>
            <situation>[[One short sentence describing a new regulation by the organization that decreases the overall risk involved in the decision]]. This decreases the risk of [[mention of negative outcome]] by {{risk_reduction}}.</situation>  
            <prompt>[[Ask how likely to go for the above described risky choice.]]?</prompt>
            <option>0%</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80%</option>
            <option>90%</option>
            <option>100%</option>
        </template>  
    </variant>
</config>