<config bias="Loss Aversion">
    <custom_values name="base_amount">
        <value name='distribution'>randint</value>
        <value name='min'>1</value>
        <value name='max'>100</value>
    </custom_values>
    <custom_values name="lambda_coef">
        <value name='distribution'>uniform</value>
        <value name='min'>2</value>
        <value name='max'>100</value>
    </custom_values>
    <variant name="default">
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>You are presented with two choices.</situation>
            <prompt>Which choice would you choose?</prompt>
            <option>[[Provide a description of a choice with a guaranteed profit of amount {{base_amount}}. Choose amount magnitude (e.g., thousands or millions) and currency accordingly.]]</option>
            <option>[[Provide a description of another choice that is equally likely to lead to a profit of amount {{lambda_amount}} and loss of amount {{base_amount}}. Choose amount magnitude (e.g., thousands or millions) and currency accordingly.]]</option>
        </template>
    </variant>
</config>