<config bias="Bandwagon Effect">
    <custom_values name="majority_opinion">
        <value>A</value>
        <value>B</value>
    </custom_values>
    <variant name="default">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>[[Describe a possible choice task for the role]]</situation>
            <situation>You have two equally reasonable opinions on that.</situation>
            <situation>Opinion A: [[describe the first opinion]]</situation>
            <situation>Opinion B: [[describe the second opinion]]</situation>
            <situation>Colleagues in your industry usually express opinion {{majority_opinion}} in similar cases and this opinion is getting stronger.</situation>
            <prompt>Which opinion do you choose?</prompt>
            <option>Very likely Opinion A</option>
            <option>Likely Opinion A</option>
            <option>Somewhat likely Opinion A</option>
            <option>Equally likely</option>
            <option>Somewhat likely Opinion B</option>
            <option>Likely Opinion B</option>
            <option>Very likely Opinion B</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>[[Describe a possible choice task for the role]]</situation>
            <situation>You have two equally reasonable opinions on that.</situation>
            <situation>Opinion A: [[describe the second opinion]]</situation>
            <situation>Opinion B: [[describe the first opinion]]</situation>
            <situation>Colleagues in your industry usually express opinion {{majority_opinion}} in similar cases and this opinion is getting stronger.</situation>
            <prompt>Which opinion do you choose?</prompt>
            <option>Very likely Opinion A</option>
            <option>Likely Opinion A</option>
            <option>Somewhat likely Opinion A</option>
            <option>Equally likely</option>
            <option>Somewhat likely Opinion B</option>
            <option>Likely Opinion B</option>
            <option>Very likely Opinion B</option>
        </template>
    </variant>
</config>