<config bias="Bandwagon Effect">
    <custom_values name="majority_opinion">
        <value>A</value>
        <value>B</value>
    </custom_values>
    <variant name="default">
        <template type="control">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>[[Describe a possible choice task for the role]].</situation>
            <situation>You have two equally reasonable opinions on that.</situation>
            <situation>Opinion A: [[Describe an opinion A. Do not include any notion of order between opinions.]].</situation>
            <situation>Opinion B: [[Describe an opinion B. Do not include any notion of order between opinions.]].</situation>
            <situation>Colleagues in your industry usually express opinion {{majority_opinion}} in similar cases and this opinion is getting stronger.</situation>
            <prompt>Which opinion do you choose?</prompt>
            <option>Very likely opinion A</option>
            <option>Likely opinion A</option>
            <option>Somewhat likely opinion A</option>
            <option>Equally likely opinion A and opinion B</option>
            <option>Somewhat likely opinion B</option>
            <option>Likely opinion B</option>
            <option>Very likely opinion B</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>[[Describe a possible choice task for the role]].</situation>
            <situation>You have two equally reasonable opinions on that.</situation>
            <situation>Opinion A: [[Describe an opinion B. Do not include any notion of order between opinions.]].</situation>
            <situation>Opinion B: [[Describe an opinion A. Do not include any notion of order between opinions.]].</situation>
            <situation>Colleagues in your industry usually express opinion {{majority_opinion}} in similar cases and this opinion is getting stronger.</situation>
            <prompt>Which opinion do you choose?</prompt>
            <option>Very likely opinion A</option>
            <option>Likely opinion A</option>
            <option>Somewhat likely opinion A</option>
            <option>Equally likely opinion A and opinion B</option>
            <option>Somewhat likely opinion B</option>
            <option>Likely opinion B</option>
            <option>Very likely opinion B</option>
        </template>
    </variant>
</config>