<config bias="Disposition Effect">
    <custom_values name="change_range">
        <value>10</value>
        <value>50</value>
    </custom_values>
    <variant name="default">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>You regularly decide whether to [[hold/keep/maintain]] or [[sell/dispose/stop]] [[some kind of assets]] which fluctuate in [[some kind of value]].</situation>

            <situation>Currently, you are [[holding/keeping/maintaining]] the following two [[some kind of assets]], which you previously [[purchased/acquired/started]] for [[large number of resources, e.g., money]]:</situation>
            <situation>- '[[Concrete asset A]]' recently gained {{increase}}% in [[some kind of value]].</situation>
            <situation>- '[[Concrete asset B]]' recently lost {{decrease}}% in [[some kind of value]].</situation>

            <prompt>What is the most reasonable action to respond to these changes?</prompt>
            <option>Most likely [[sell/dispose/stop]] [[reference to asset A]] and [[hold/keep/maintain]] [[reference to asset B]]</option>
            <option>Likely [[sell/dispose/stop]] [[reference to asset A]] and [[hold/keep/maintain]] [[reference to asset B]]</option>
            <option>Somewhat likely [[sell/dispose/stop]] [[reference to asset A]] and [[hold/keep/maintain]] [[reference to asset B]]</option>
            <option>Equally likely to [[hold/keep/maintain]] or [[sell/dispose/stop]] both, [[reference to asset A]] and [[reference to asset B]]</option>
            <option>Somewhat likely [[sell/dispose/stop]] [[reference to asset B]] and [[hold/keep/maintain]] [[reference to asset A]]</option>
            <option>Likely [[sell/dispose/stop]] [[reference to asset B]] and [[hold/keep/maintain]] [[reference to asset A]]</option>
            <option>Most likely [[sell/dispose/stop]] [[reference to asset B]] and [[hold/keep/maintain]] [[reference to asset A]]</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>You regularly decide whether to [[hold/keep/maintain]] or [[sell/dispose/stop]] [[some kind of assets]] which fluctuate in [[some kind of value]].</situation>
            
            <situation>Currently, you are [[holding/keeping/maintaining]] the following two [[some kind of assets]], which you previously [[purchased/acquired/started]] for [[large number of resources, e.g., money]]:</situation>
            <situation>- '[[Concrete asset B]]' recently gained {{increase}}% in [[some kind of value]].</situation>
            <situation>- '[[Concrete asset A]]' recently lost {{decrease}}% in [[some kind of value]].</situation>

            <prompt>What is the most reasonable action to respond to these changes?</prompt>
            <option>Most likely [[sell/dispose/stop]] [[reference to asset B]] and [[hold/keep/maintain]] [[reference to asset A]]</option>
            <option>Likely [[sell/dispose/stop]] [[reference to asset B]] and [[hold/keep/maintain]] [[reference to asset A]]</option>
            <option>Somewhat likely [[sell/dispose/stop]] [[reference to asset B]] and [[hold/keep/maintain]] [[reference to asset A]]</option>
            <option>Equally likely to [[hold/keep/maintain]] or [[sell/dispose/stop]] both, [[reference to asset B]] and [[reference to asset A]]</option>
            <option>Somewhat likely [[sell/dispose/stop]] [[reference to asset A]] and [[hold/keep/maintain]] [[reference to asset B]]</option>
            <option>Likely [[sell/dispose/stop]] [[reference to asset A]] and [[hold/keep/maintain]] [[reference to asset B]]</option>
            <option>Most likely [[sell/dispose/stop]] [[reference to asset A]] and [[hold/keep/maintain]] [[reference to asset B]]</option>
        </template>
    </variant>
</config>