<config bias="Hyperbolic Discounting">
    <custom_values name="earlier_reward">
        <value name='distribution'>randint</value>
        <value name='min'>1</value>
        <value name='max'>100</value>
    </custom_values>
    <custom_values name="later_coef">
        <value name='distribution'>uniform</value>
        <value name='min'>1</value>
        <value name='max'>5</value>
    </custom_values>
    <custom_values name="months_delay">
        <value name='distribution'>randint</value>
        <value name='min'>2</value>
        <value name='max'>12</value>
    </custom_values>
    <custom_values name="scheme_control">
        <value>Receive guaranteed {{earlier_reward}} [[amount]] [[currency]] of extra funding immediately</value>
        <value>Receive guaranteed {{later_reward}} [[amount]] [[currency]] of extra funding in {{months_delay}} months</value>
    </custom_values>
    <custom_values name="scheme_treatment">
        <value>Receive guaranteed {{earlier_reward}} [[amount]] [[currency]] of extra funding in 1 year</value>
        <value>Receive guaranteed {{later_reward}} [[amount]] [[currency]] of extra funding in 1 year and {{months_delay}} months</value>
    </custom_values>
    <variant name="default">
        <template type="control">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>Recently, an unforeseen source of funding has been made available to [[your organization]].</situation>
            <situation>This additional funding is not allocated to your current task but rather to [[your team]] in general.</situation>
            <situation>Two schemes for the funding schedule are available:</situation>
            <situation>Scheme A: {{control_scheme}}</situation>
            <situation>Scheme B: {{other_control_scheme}}</situation>
            <prompt>Which scheme for the funding schedule do you choose?</prompt>
            <option>Very likely Scheme A</option>
            <option>Likely Scheme A</option>
            <option>Somewhat likely Scheme A</option>
            <option>Equally likely</option>
            <option>Somewhat likely Scheme B</option>
            <option>Likely Scheme B</option>
            <option>Very likely Scheme B</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are a [[type]] manager at [[organization]].</situation>
            <situation>Recently, an unforeseen source of funding has been made available to [[your organization]].</situation>
            <situation>This additional funding is not allocated to your current task but rather to [[your team]] in general.</situation>
            <situation>Two schemes for the funding schedule are available:</situation>
            <situation>Scheme A: {{treatment_scheme}}</situation>
            <situation>Scheme B: {{other_treatment_scheme}}</situation>
            <prompt>Which scheme for the funding schedule do you choose?</prompt>
            <option>Very likely Scheme A</option>
            <option>Likely Scheme A</option>
            <option>Somewhat likely Scheme A</option>
            <option>Equally likely</option>
            <option>Somewhat likely Scheme B</option>
            <option>Likely Scheme B</option>
            <option>Very likely Scheme B</option>
        </template>
    </variant>
</config>