<config bias="Availability Heuristic">
    <custom_values name="outcome">
        <value>failure</value>
        <value>success</value>
    </custom_values>
    <variant name="default">
        <template type="control">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>A company in your industry [[provide a one-sentence description of a plan to release a particular product]].</situation>
            <prompt>How likely do you estimate the planned project to be a {{outcome}}?</prompt>
            <option>0%</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80%</option>
            <option>90%</option>
            <option>100%</option>
        </template>
        <template type="treatment">
            <situation>Suppose you are [[a/an]] [[type]] manager at [[organization]].</situation>
            <situation>A company in your industry [[provide a one-sentence description of a plan to release a particular product]].</situation>
            <situation>Recently, [[a one-sentence {{outcome}} story of such product from another company in the industry]].</situation>
            <prompt>How likely do you estimate the planned project to be a {{outcome}}?</prompt>
            <option>0%</option>
            <option>10%</option>
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
            <option>50%</option>
            <option>60%</option>
            <option>70%</option>
            <option>80%</option>
            <option>90%</option>
            <option>100%</option>
        </template>
    </variant>
</config>